includes:
    - vendor/larastan/larastan/extension.neon
    - vendor/nesbot/carbon/extension.neon

parameters:

    paths:
        - app/

    # Level 10 is the highest level
    level: 5

    ignoreErrors:
        - '#Access to an undefined property#'
        - '#Parameter \#1 \$view of function view expects view-string\|null, string given#'


#    excludePaths:
#        - ./*/*/FileToBeExcluded.php